In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/caophuong/Documents/Hackathon/SMU-Datathon-2025/datasets/output/entities_selected_info_df.csv')

In [3]:
df.head()

,count,entity,label,location_info,latitude,longitude,class,type,addresstype
0,2,Starbucks,ORG,"{'place_id': 347438031, 'licence': 'Data © Ope...",44.899433,-91.932444,amenity,cafe,amenity
1,1,National Labor Relations Board,ORG,"{'place_id': 346578673, 'licence': 'Data © Ope...",40.691769,-89.590029,office,government,office
2,1,Mara-Louise Anzalone,PER,"(None, None)",NaN,NaN,NaN,NaN,NaN
3,393,Singapore,LOC,"{'place_id': 236496004, 'licence': 'Data © Ope...",1.357107,103.819499,boundary,administrative,country
4,1,Su Wenqiang,PER,"(None, None)",NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[['count', 'entity', 'label', 'latitude', 'longitude']]

In [5]:
df = df[~df['latitude'].isnull() & ~df['longitude'].isnull()]

In [6]:
df.head()

   count                          entity label   latitude   longitude
0      2                       Starbucks   ORG  44.899433  -91.932444
1      1  National Labor Relations Board   ORG  40.691769  -89.590029
3    393                       Singapore   LOC   1.357107  103.819499
5      4                          Fujian   LOC  26.193218  118.220872
7      1                      Lewis Road   LOC  51.431811    0.116715

In [7]:
len(df)

3830

In [16]:
import folium

In [20]:
import os
path = os.getcwd()

In [23]:
parent = os.path.dirname(path)

In [24]:
# Create a base map
world_map = folium.Map(location=[20, 0], zoom_start=2)

# Add points to the map
for _, row in df.iterrows():
    # Create a popup with entity, latitude, longitude, and count
    popup_content = f"""
    <b>Entity:</b> {row['entity']}<br>
    <b>Latitude:</b> {row['latitude']}<br>
    <b>Longitude:</b> {row['longitude']}<br>
    <b>Count:</b> {row['count']}
    """
    
    folium.CircleMarker(
        location=[row["latitude"], row["longitude"]],
        radius=row["count"] * 0.1,  # Adjust the size based on count (scaled down for better visibility)
        popup=folium.Popup(popup_content, max_width=300),  # Enhanced popup with more details
        color="blue",
        fill=True,
        fill_color="blue",
        fill_opacity=0.6
    ).add_to(world_map)

# Save map to an HTML file
world_map.save(f"{parent}/static/images/entities_map.html")